### Upute

In [204]:
import numpy as np
import pandas as pd

In [205]:

regulations_df = pd.read_csv('Regulations.csv')

print(regulations_df.shape)

regulations_df.head(2)

(23247, 11)

,Id,Title,Abstract,Created,CreatedBy,LastModified,LastModifiedBy,RegulationTypeId,IsDeleted,PublicationId,RegulationSubtypeId
0,4,Zakon o uvođenju Europskog društva - Societas ...,Ovim Zakonom uređuju se uvjeti i način provedb...,2023-10-20 15:29:00.987395+00,Migrator,2023-10-20 15:29:00.987395+00,Migrator,1,False,50,4.0
1,5,Zakon o Nacionalnoj klasifikaciji djelatnosti,Prema Nacionalnoj klasifikaciji djelatnosti ra...,2023-10-20 15:29:10.259286+00,Migrator,2023-10-20 15:29:10.259286+00,Migrator,1,False,52,4.0

In [206]:
regulation_versions_df = pd.read_csv('RegulationVersions.csv')
print(regulation_versions_df.shape)

regulation_versions_df.head(2)

(29545, 16)

,Id,VersionNumber,EnterIntoForceDate,RegulationId,DocumentId,PublicationId,Created,CreatedBy,LastModified,LastModifiedBy,ApplicationDate,EndDate,MinorVersionNumber,IsDeleted,LegacyNotValid,StatusId
0,33,1,2013-07-01 00:00:00+00,4,84,50,2023-10-20 15:29:00.987394+00,Migrator,2024-01-02 15:24:50.929927+00,Migrator,NaN,2015-11-01 00:00:00+00,1,False,NaN,1.0
1,34,2,2015-11-01 00:00:00+00,4,85,51,2023-10-20 15:29:00.987325+00,Migrator,2023-12-06 13:29:00.995496+00,Migrator,NaN,NaN,1,False,NaN,2.0

In [207]:
old_df = pd.read_csv('4_vazeci_OneDate.csv')
print(old_df.shape)

old_df.head(2)

(10402, 17)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Brojac,Izvor,NeVazi,Naslov,Sadr,Vazenje,RawDates,ParsedDates,DatumStupanjaNaSnagu,DatumPrimjene,DatumPrestankaVazenja,TitleRawDates,TitleParsedDates,Vazenje_standardizedDates
0,0,1,1,9,"Nar. novine, 107/07-7943. 110/15.",False,Zakon o uvođenju Europskog društva - Societas ...,Ovim Zakonom uređuju se uvjeti i način provedb...,Zakon stupa na snagu 1. 7. 2013.,"[['1', '7', '2013']]",['01.07.2013.'],01.07.2013,NaN,NaN,[],[],Zakon stupa na snagu 01.07.2013.
1,1,2,2,24,"Nar. novine, 98/94-2828.",False,Zakon o Nacionalnoj klasifikaciji djelatnosti,Prema Nacionalnoj klasifikaciji djelatnosti ra...,Zakon stupa na snagu 31. 12. 1994.,"[['31', '12', '1994']]",['31.12.1994.'],31.12.1994,NaN,NaN,[],[],Zakon stupa na snagu 31.12.1994.

In [208]:
corelation_df = pd.read_csv('RegulationRegistarMap.csv')
print(corelation_df.shape)

corelation_df.head(2)

(23207, 2)

   RegulationId  RegistarId
0             3           1
1             4           9

#### RegulationVersions by Brojac from 4_vazeci_OneDate.csv

Take Ids that are in old_df and regulation_df

In [209]:
old_df = old_df.rename(columns={'Brojac': 'RegistarId'})
new_df = pd.merge(old_df, corelation_df, on='RegistarId', how='inner')

registarIds_df = new_df[['RegistarId']]
regulationIds_df = new_df[['RegulationId']]
print(registarIds_df.shape)
print(regulationIds_df.shape)

(10058, 1)
(10058, 1)

Update old_df (remove ids that are not in regulation_df)

In [210]:
old_df = old_df[old_df['RegistarId'].isin(registarIds_df['RegistarId'])]
print(old_df.shape)
old_df.head(2)

(10058, 17)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,RegistarId,Izvor,NeVazi,Naslov,Sadr,Vazenje,RawDates,ParsedDates,DatumStupanjaNaSnagu,DatumPrimjene,DatumPrestankaVazenja,TitleRawDates,TitleParsedDates,Vazenje_standardizedDates
0,0,1,1,9,"Nar. novine, 107/07-7943. 110/15.",False,Zakon o uvođenju Europskog društva - Societas ...,Ovim Zakonom uređuju se uvjeti i način provedb...,Zakon stupa na snagu 1. 7. 2013.,"[['1', '7', '2013']]",['01.07.2013.'],01.07.2013,NaN,NaN,[],[],Zakon stupa na snagu 01.07.2013.
1,1,2,2,24,"Nar. novine, 98/94-2828.",False,Zakon o Nacionalnoj klasifikaciji djelatnosti,Prema Nacionalnoj klasifikaciji djelatnosti ra...,Zakon stupa na snagu 31. 12. 1994.,"[['31', '12', '1994']]",['31.12.1994.'],31.12.1994,NaN,NaN,[],[],Zakon stupa na snagu 31.12.1994.

Take regulations with id from new_df

In [211]:
regulations_df = regulations_df[regulations_df['Id'].isin(regulationIds_df['RegulationId'])]
print(regulations_df.shape)
regulations_df.head(2)

(10058, 11)

,Id,Title,Abstract,Created,CreatedBy,LastModified,LastModifiedBy,RegulationTypeId,IsDeleted,PublicationId,RegulationSubtypeId
0,4,Zakon o uvođenju Europskog društva - Societas ...,Ovim Zakonom uređuju se uvjeti i način provedb...,2023-10-20 15:29:00.987395+00,Migrator,2023-10-20 15:29:00.987395+00,Migrator,1,False,50,4.0
1,5,Zakon o Nacionalnoj klasifikaciji djelatnosti,Prema Nacionalnoj klasifikaciji djelatnosti ra...,2023-10-20 15:29:10.259286+00,Migrator,2023-10-20 15:29:10.259286+00,Migrator,1,False,52,4.0

#### Find regulationVersions from regulations

In [212]:
regulation_versions_df_temp = regulation_versions_df[regulation_versions_df['RegulationId'].isin(regulationIds_df['RegulationId'])]
regulation_versions_df_temp = regulation_versions_df_temp[regulation_versions_df_temp['VersionNumber'] == 1]
regulation_versions_df_temp['EnterIntoForceDate'] = pd.to_datetime(regulation_versions_df_temp['EnterIntoForceDate'], errors='coerce')

regulation_versions_df_temp['EnterIntoForceDate'] = regulation_versions_df_temp['EnterIntoForceDate'].dt.strftime('%d.%m.%Y').replace('NaT', 'Null')
print(regulation_versions_df_temp.shape)
regulation_versions_df_temp.head(10)

(10058, 16)

,Id,VersionNumber,EnterIntoForceDate,RegulationId,DocumentId,PublicationId,Created,CreatedBy,LastModified,LastModifiedBy,ApplicationDate,EndDate,MinorVersionNumber,IsDeleted,LegacyNotValid,StatusId
0,33,1,01.07.2013,4,84,50,2023-10-20 15:29:00.987394+00,Migrator,2024-01-02 15:24:50.929927+00,Migrator,NaN,2015-11-01 00:00:00+00,1,False,NaN,1.0
2,35,1,30.12.1994,5,87,52,2023-10-20 15:29:10.259284+00,Migrator,2023-12-06 13:29:00.995496+00,Migrator,NaN,NaN,1,False,NaN,2.0
3,36,1,01.01.2008,6,90,53,2023-10-20 15:30:26.510656+00,Migrator,2023-12-06 13:29:00.995496+00,Migrator,NaN,NaN,1,False,NaN,2.0
19,52,1,NaN,9,125,73,2023-10-20 15:31:20.131722+00,Migrator,2023-12-06 13:29:00.995499+00,Migrator,NaN,NaN,1,False,NaN,2.0
21,54,1,NaN,11,131,75,2023-10-20 15:31:38.688333+00,Migrator,2024-01-02 15:23:54.075016+00,Migrator,NaN,1995-11-16 23:00:00+00,1,False,NaN,1.0
24,57,1,24.04.1996,12,135,78,2023-10-20 15:31:44.022851+00,Migrator,2023-12-06 13:29:00.9955+00,Migrator,NaN,NaN,1,False,NaN,2.0
25,58,1,23.10.2007,13,142,79,2023-10-20 15:32:00.936584+00,Migrator,2024-01-02 15:23:54.075015+00,Migrator,NaN,2008-05-29 22:00:00+00,1,False,NaN,1.0
35,68,1,NaN,16,166,98,2023-10-20 15:32:45.579674+00,Migrator,2023-12-06 13:29:00.995502+00,Migrator,NaN,NaN,1,False,NaN,2.0
37,70,1,NaN,18,172,100,2023-10-20 15:32:59.898001+00,Migrator,2024-01-02 15:24:29.867737+00,Migrator,NaN,-infinity,1,False,NaN,1.0
44,77,1,26.05.2008,23,186,109,2023-10-20 15:33:26.701959+00,Migrator,2023-12-06 13:29:00.995503+00,Migrator,NaN,NaN,1,False,NaN,2.0

# Create dataset for comparison

In [221]:
comparison_df = regulation_versions_df_temp
comparison_df = comparison_df.rename(columns={'Id': 'RegulationId',
                             'EnterIntoForceDate': 'Matko_StupanjeNaSnagu',
                             'ApplicationDate': 'Matko_DatumPrimjene',
                             'EndDate': 'Matko_PrestanakVazenja'})

old_df_temp = old_df[['RegistarId', 'Vazenje', 'Naslov', 'DatumStupanjaNaSnagu', 'DatumPrimjene', 'DatumPrestankaVazenja']]
old_df_temp = old_df_temp.rename(columns={'DatumStupanjaNaSnagu': 'Dario_StupanjeNaSnagu',
                           'DatumPrimjene': 'Dario_DatumPrimjene',
                           'DatumPrestankaVazenja': 'Dario_PrestanakVazenja'})

comparison_df = pd.concat([comparison_df.reset_index(drop=True), old_df_temp.reset_index(drop=True)], axis=1)
#order_of_columns = ['RegulationId', 'RegistarId', 'Naslov', 'Vazenje', 'Matko_StupanjeNaSnagu', 'Dario_StupanjeNaSnagu', 'Matko_DatumPrimjene', 'Dario_DatumPrimjene', 'Matko_PrestanakVazenja', 'Dario_PrestanakVazenja']
order_of_columns = ['RegulationId', 'RegistarId', 'Naslov', 'Vazenje', 'Matko_StupanjeNaSnagu', 'Dario_StupanjeNaSnagu', 'Matko_DatumPrimjene', 'Dario_DatumPrimjene']
comparison_df = comparison_df[order_of_columns]
comparison_df = comparison_df.iloc[:, 1:]

print(comparison_df.shape)
comparison_df.head(2)

(10058, 8)

,RegulationId,RegistarId,Naslov,Vazenje,Matko_StupanjeNaSnagu,Dario_StupanjeNaSnagu,Matko_DatumPrimjene,Dario_DatumPrimjene
0,4,9,Zakon o uvođenju Europskog društva - Societas ...,Zakon stupa na snagu 1. 7. 2013.,01.07.2013,01.07.2013,NaN,NaN
1,5,24,Zakon o Nacionalnoj klasifikaciji djelatnosti,Zakon stupa na snagu 31. 12. 1994.,30.12.1994,31.12.1994,NaN,NaN

In [226]:
# Dividing into 5 parts
df_split = np.array_split(comparison_df, 5)
df1 = df_split[0]
df2 = df_split[1]
df3 = df_split[2]
df4 = df_split[3]
df5 = df_split[4]

print(comparison_df.shape)
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)

comparison_df.to_csv('Results/Comparison_Data.csv', index=False)
df1.to_csv('Results/Comparison_Data_1.csv', index=False)
df2.to_csv('Results/Comparison_Data_2.csv', index=False)
df3.to_csv('Results/Comparison_Data_3.csv', index=False)
df4.to_csv('Results/Comparison_Data_4.csv', index=False)
df5.to_csv('Results/Comparison_Data_5.csv', index=False)

(10058, 8)
(2012, 8)
(2012, 8)
(2012, 8)
(2011, 8)
(2011, 8)

C:\Users\PC\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)